body {
  @import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
  font-family: 'Anonymous Pro', monospace;
    

  }

  table{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
  }
  table th{
    font-family: 'Jost', sans-serif;
  }