/* Modal Style */

.modal--supplier * {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.modal--supplier {
  opacity: 0;
  position: fixed;
  z-index: -1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgb(0, 0, 0);
  transition: 0.3s;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__content--supplier {
  position: relative;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 500px;
  background-color: #ffffff;
  border-radius: 10px;
}

.modal--active {
  z-index: 1;
  opacity: 1;
  transition: 0.3s;
}

.modal__table__container {
  height: 95%;
  width: 100%;
  overflow: scroll;
}

.modal__table--supplier {
  table-layout: fixed;
  width: 150%;
}

.modal__table--supplier th {
  height: 30px;
  background-color: midnightblue;
  color: #ffffff;
  font-size: 15px;
  position: sticky;
  top: 0;
}

.modal__table--supplier tbody {
  font-size: 15px;
}

.modal__table--supplier :hover {
  cursor: pointer;
}

.modal__table--supplier td {
  padding: 2px 5px;
}

.button__add--supplier {
  color: #ffffff;
  background-color: midnightblue;
  height: 35px;
  width: 100px;
  margin-bottom: 10px;
}

.modal__input__search--supplier {
  width: 500px;
  padding: 2px 5px;
  margin-left: 20px;
}

.modal__button__close {
  color: red;
  font-weight: bold;
  position: absolute;
  right: 20px;
  top: 10px;
}

.modal__button__close:hover {
  cursor: pointer;
  color: black;
  font-weight: bold;
}

.modal__table--supplier tr:hover {
  background-color: lightgray;
}

/* Item Code */
.modal__table--supplier th:nth-child(1) {
  width: 10%;
}

.modal__table--supplier td:nth-child(1) {
  text-align: center;
}

/* Item Name */
.modal__table--supplier th:nth-child(2) {
  width: 30%;
}

.modal__table--supplier td:nth-child(2) {
  text-align: left;
}

/* Quantity */
.modal__table--supplier th:nth-child(3) {
  width: 10%;
}

.modal__table--supplier td:nth-child(3) {
  text-align: left;
}

/* Unit */
.modal__table--supplier th:nth-child(4) {
  width: 10%;
}

.modal__table--supplier td:nth-child(4) {
  text-align: center;
}

/* Location */
.modal__table--supplier th:nth-child(5) {
  width: 30%;
}

.modal__table--supplier td:nth-child(5) {
  text-align: lefts;
}

/* Cost */
.modal__table--supplier th:nth-child(6) {
  width: 20%;
}

.modal__table--supplier td:nth-child(6) {
  text-align: left;
}
/* Cost */
.modal__table--supplier th:nth-child(7) {
  width: 20%;
}

.modal__table--supplier td:nth-child(7) {
  text-align: center;
}

.modal__button__add--supplier {
  color: white;
  cursor: pointer;
  background-color: midnightblue;
}

.highlight {
  font-weight: bolder;
  color: orangered;
  cursor: pointer;
}

.form-control {
  border: 2px solid lightgray;
}

/* .table1 td,
    th {
      border: 1px solid black;
    } */
