body {
  background: #b0c4de;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.input-tab {
  background-color: white;
  padding: 20px;
  width: 100%;
  position: absolute;
  float: left;
}

.postb {
  border: 1px solid black;
  border-collapse: collapse;
}
.postb th {
  border: 1px solid black;
}
.postb td {
  border: 1px solid black;
}
