* {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
}

.receipt__input {
  padding-left: 5px;
  padding-top: 3px;
}

.receipt__input--row {
  height: 25%;
}

@media print {
  .receipt__label {
    opacity: 0;
  }
}

.receipt__input--address {
  font-size: smaller;
}

.receipt__input--item {
  height: 10%;
}
.receipt__input--summary {
  height: 25%;
}

.receipt__input--unit__price {
  text-align: right;
}

.receipt__input--total__price {
  text-align: right;
}

.receipt__input--or__number {
  padding-left: 100px;
  text-align: left;
}
